[user]
	name = Braily Guzman
    email = brailyg@outlook.com
	signingkey = 7FFC3514AA4EDB4D
[pull]
    rebase = false
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
